Backup_2026-01-22/CancelBooking.json

{
  "updatedAt": "2026-01-19T04:04:00.294Z",
  "createdAt": "2026-01-17T11:37:49.937Z",
  "id": "U4O3foK0GeiFzSiVc8CkP",
  "name": "CancelBooking",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancel-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        112
      ],
      "id": "ef17a543-3091-4ca3-ad07-ea794e2e4040",
      "name": "Webhook",
      "webhookId": "cancel-booking-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "bookingId",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.bookingId }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "email",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.email }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "reason",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.reason || 'Not provided' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "toolCallId",
              "value": "={{ $json.body.message.toolCalls[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        112
      ],
      "id": "febfe7f2-a1cd-4d64-9d04-3618c7be7418",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.cal.com/v2/bookings/{{ $json.bookingId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "cal_live_f1fc35fc8a69c1b7237d752a42d11da7"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        112
      ],
      "id": "ca281d1c-d4bc-4063-a03f-139e202701d4",
      "name": "Cancel Booking API",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const toolCallId = $input.item.json.toolCallId;\nconst bookingId = $input.item.json.bookingId;\nconst email = $input.item.json.email;\n\nreturn {\n  json: {\n    results: [\n      {\n        toolCallId: toolCallId,\n        result: `Your appointment has been successfully canceled. A confirmation email has been sent to ${email}. If you'd like to book again in the future, just let me know!`\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "bd07e550-48bf-4eee-a470-93aac802a256",
      "name": "Success Response"
    },
    {
      "parameters": {
        "jsCode": "const toolCallId = $input.item.json.toolCallId;\nconst errorData = $input.item.json.error;\n\n// Extract error message\nlet errorMessage = 'There was an issue canceling your appointment.';\n\ntry {\n  if (errorData && errorData.message) {\n    const jsonMatch = errorData.message.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const errorJson = JSON.parse(jsonMatch[0]);\n      const calComError = errorJson.error?.message || '';\n      \n      // Handle specific errors\n      if (calComError.includes('not found') || calComError.includes('does not exist')) {\n        errorMessage = \"I couldn't find a booking with that ID. Could you please verify the booking ID or email address?\";\n      } else if (calComError.includes('already cancelled')) {\n        errorMessage = \"This appointment has already been canceled.\";\n      } else if (calComError.includes('unauthorized') || calComError.includes('Invalid Access Token')) {\n        errorMessage = \"There was an authentication issue. Please try again or contact support.\";\n      } else {\n        errorMessage = `There was an issue: ${calComError}. Please try again or contact support.`;\n      }\n    }\n  }\n} catch (e) {\n  console.log('Error parsing:', e);\n}\n\nreturn {\n  json: {\n    results: [\n      {\n        toolCallId: toolCallId,\n        result: errorMessage\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "f00964ce-e3f2-4572-b99f-6222f5443ed0",
      "name": "Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "778b760d-8e7c-4bbb-bfcf-5c93e818a97b",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        208,
        208
      ],
      "id": "92c8445f-8026-4f10-999d-49b99cd6b2a6",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Cancel Booking API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Booking API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cc5618e4-58df-443c-9d22-6771b3f97f01",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-17T11:37:49.937Z",
      "createdAt": "2026-01-17T11:37:49.937Z",
      "role": "workflow:owner",
      "workflowId": "U4O3foK0GeiFzSiVc8CkP",
      "projectId": "gHNuyLUUbtf9MdIA"
    }
  ],
  "activeVersion": null,
  "tags": []
}