Backup_2026-01-22/check_availability.json

{
  "updatedAt": "2026-01-19T04:05:23.238Z",
  "createdAt": "2026-01-16T09:36:33.359Z",
  "id": "l1aQd6f7E4v4u-h2XCJPe",
  "name": "check_availability",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0a442f5a-7296-4b5e-947b-f1f7f4c5f789",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -80
      ],
      "id": "5aa7f4b9-5da7-4f4e-812c-4369842fe082",
      "name": "Webhook",
      "webhookId": "0a442f5a-7296-4b5e-947b-f1f7f4c5f789"
    },
    {
      "parameters": {
        "jsCode": "const { preferred_start_time, timezone } = $json;\n\nif (!preferred_start_time || !timezone) {\n  throw new Error(\"Missing required fields: preferred_start_time or timezone\");\n}\n\nreturn [\n  {\n    json: {\n      ...$json\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -288
      ],
      "id": "6dc3251d-8e1f-463b-b8fb-3ea69ba640e6",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const moment = require(\"moment-timezone\");\n\nconst userTime = moment.tz(\n  $json.preferred_start_time,\n  $json.timezone\n);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      startUTC: userTime.clone().utc().format(),\n      endUTC: userTime.clone().add(1, \"hour\").utc().format()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -288
      ],
      "id": "9c0c45e8-fc49-462c-a5d1-dc3219f2afc0",
      "name": "Normalize Time"
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v2/slots",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "eventTypeId",
              "value": "2532275"
            },
            {
              "name": "requestedTime",
              "value": "={{ $json.requestedTime }}"
            },
            {
              "name": "callerTimeZone",
              "value": "={{ $json.callerTimeZone }}"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer cal_live_f1fc35fc8a69c1b7237d752a42d11da7\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        -80
      ],
      "id": "c3fafaef-aa3a-425c-b32c-7191a6eb87ea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get slots from previous node\nconst slots = $json.slots || [];\nconst userTimezone = $node[\"Webhook\"].json.timezone || \"America/New_York\";\n\n// If no slots\nif (!slots.length) {\n  return [\n    {\n      json: {\n        status: \"no_availability\",\n        message: \"No available slots for the selected time\",\n      },\n    },\n  ];\n}\n\n// Helper function to convert ISO string to human-friendly format\nfunction formatSlot(isoString, tz) {\n  const date = new Date(isoString);\n\n  // Use Intl.DateTimeFormat for timezone conversion\n  const options = {\n    weekday: \"long\",\n    year: \"numeric\",\n    month: \"long\",\n    day: \"numeric\",\n    hour: \"numeric\",\n    minute: \"2-digit\",\n    hour12: true,\n    timeZone: tz,\n  };\n\n  return new Intl.DateTimeFormat(\"en-US\", options).format(date);\n}\n\n// Take first 3 slots and format them\nconst formattedSlots = slots.slice(0, 3).map(slot =>\n  formatSlot(slot.start, userTimezone)\n);\n\nreturn [\n  {\n    json: {\n      status: \"success\",\n      available_slots: formattedSlots,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "id": "21b7f9e7-2672-44b1-9102-c0dcda2a5bda",
      "name": "Extract Slots"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        -80
      ],
      "id": "ae6644c1-86a6-46bd-97ea-2ae60c4e0026",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55e5f2e8-4ea4-460c-9f0f-70670607cade",
              "name": "eventTypeID",
              "value": "2532275",
              "type": "string"
            },
            {
              "id": "abdb0968-90b6-49ad-a811-9344f510445c",
              "name": "requestedTime",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.requestedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -80
      ],
      "id": "caf7db87-9c05-4e50-b320-98887d8eb1a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"eventTypeId\": 2532275,\n   \"requestedTime\": \"{{ $json.requestedTime }}\"\n  \"callerTimeZone\": \"America/New_York\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -80
      ],
      "id": "dde1a073-590d-45d1-b6b9-bfb2515d3ce1",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        []
      ]
    },
    "Normalize Time": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Extract Slots": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c55dc69d-459b-4d1b-9748-a4b373bb616f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-16T09:36:33.359Z",
      "createdAt": "2026-01-16T09:36:33.359Z",
      "role": "workflow:owner",
      "workflowId": "l1aQd6f7E4v4u-h2XCJPe",
      "projectId": "gHNuyLUUbtf9MdIA"
    }
  ],
  "activeVersion": null,
  "tags": []
}