Backup_2026-01-22/Reschedule Appointment.json

{
  "updatedAt": "2026-01-19T04:05:25.630Z",
  "createdAt": "2026-01-14T05:27:36.547Z",
  "id": "TRIYA7BbXLPFahzbhbaky",
  "name": "Reschedule Appointment",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "800e23c1-63aa-43d5-a132-3a94bed79da8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -32
      ],
      "id": "1af955a0-c987-4183-9680-51de10d6f6bb",
      "name": "Webhook1",
      "webhookId": "800e23c1-63aa-43d5-a132-3a94bed79da8"
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v2/bookings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "upcoming"
            },
            {
              "name": "attendeeEmail",
              "value": "={{ $json.body.call.transcript_object[3].content }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_f1fc35fc8a69c1b7237d752a42d11da7"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -32
      ],
      "id": "ced93c75-dcf7-4bdc-a3a2-f23080f732c6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cal.com/v2/bookings/{{ $json.data[0].uid }}/reschedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"start\": \"2026-01-17T14:00:00-05:00\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -32
      ],
      "id": "91c5cf65-3741-411e-a48f-101dfa51c2c0",
      "name": "Reschedule"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -32
      ],
      "id": "cb41e37e-6cb5-44e9-a031-7204677f180c",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d728bd76-c216-4e50-9230-faba79d61075",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-14T05:27:36.547Z",
      "createdAt": "2026-01-14T05:27:36.547Z",
      "role": "workflow:owner",
      "workflowId": "TRIYA7BbXLPFahzbhbaky",
      "projectId": "gHNuyLUUbtf9MdIA"
    }
  ],
  "activeVersion": null,
  "tags": []
}