Backup_2026-01-22/Transfer to n8n.json

{
  "updatedAt": "2026-01-19T10:31:33.812Z",
  "createdAt": "2026-01-19T10:31:27.539Z",
  "id": "WRxG0MX9RbSbU6lT2-VQA",
  "name": "Transfer to n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "95fd8a2f-fcef-4386-8a06-e536fb55851b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "c914e1a9-7709-44e6-be8f-0c84d25d3c1e",
      "name": "Get many workflows"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={ \"name\": \"{{ $json.name }}\", \"nodes\": {{ JSON.stringify($json.nodes) }}, \"connections\": {{ JSON.stringify($json.connections) }}, \"settings\": {{ JSON.stringify($json.settings) }} }",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "845e72cb-72e8-4030-ab1c-ff4315d7d6e9",
      "name": "Create a workflow"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Create a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a5dd9dcf-7bf7-45e9-a08a-7c79e443a285",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-19T10:31:27.539Z",
      "createdAt": "2026-01-19T10:31:27.539Z",
      "role": "workflow:owner",
      "workflowId": "WRxG0MX9RbSbU6lT2-VQA",
      "projectId": "gHNuyLUUbtf9MdIA"
    }
  ],
  "activeVersion": null,
  "tags": []
}